:root {
    /* Colors */
    --primary: #1E90FF;
    --primary-dark:#1E90FF;
    --primary-light: #1E90FF;
    --primary-text: #212121;
    --secondary-text: #333333;
    --accent: #536dfe;
    --divider: #bdbdbd;
    --white: #fdfdfd;
}

.copy {
    color: var(--white);
    justify-content: space-around;
}

.footer__contact__item > span {
	color: inherit;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table {
    width: 100%;
    border-color: #ccc;
}

tr, td, th {
    border: none;
}